div {
  display: inline-block;
  border-width: 5px;
  border-style: solid ;
  border-color: red;
  outline: 5px black solid;
  padding: 20px;
  margin: 10px;
  background-color: #ddd;
}

.shape-2 {
  border-color: blue green;
}
.shape-3 {
  border-style: dashed;
  border-color: red green blue yellow;
}